@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.bg-yo{
    background-color: rgb(255 112 0)  ;
}

.text-yo{
    color:rgb(255 112 0);
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255 112 0);
    color: white;
    text-align: center;
    padding: 2px 0px;
}

.hero-section{
    background-image: url('../images/hero-img.webp');
    height: 680px;
    width: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content{
    
}